<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NDTMB</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
<body>
  <div class="container-fluid">
    <div class="jumbotron col-lg-12" style="min-height: 750px;">
      <div class="col-lg-12">
        <h4 style="text-align: center; font-weight: bold;">DO NOT REFRESH ONCE YOU BEGIN</h4>
      </div>
      <hr style="border: 1px solid;" />
      {% block container %}{% endblock %}
    </div>
  </div>

  <div class="footer">
    <br />
    <br />
    <div class="container">
      <p><span class="glyphicon glyphicon-copyright-mark"></span> Brandon RichardWebster | last updated Sat Aug 19 2017 </p>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/faces.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-cookie/src/jquery.cookie.js') }}"></script>

  </body>
</html>
